.App-container{
  margin: 50px auto;
  width: 300px;
  padding: 0;
  align-items: center;
}

.header-container{
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 10px 5px;
  border: 2px solid #1C2833;
  background-color:	#1C2833;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #D35400;
  text-align: center;
}

.todo-input {
  height: 35px;
  width: 100%;
  margin: 0;
  padding: 5px;
  font-size: 18px;
  outline: none;
  background-color: #F4F6F6;
  border: 2px solid #F4F6F6;
  color: #85929E;
}

.todo-input:focus {
  background-color: #F8F9F9;
  border: 2px solid #D35400;
}

.todo-container{
  padding: 0;
  padding-right: 14px;
  width: 100%;
  height: 40px;
  margin: 0;
  overflow: auto;
  background-color: #F4F6F6;
  border: none;
  align-items: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.todo-item {
  margin: 0;
  padding: 0;
	width: 100%;
	height: 40px;
	color: #85929E;
}

.todo-item:hover button{
	width: 40px;
	opacity: 1.0;
}

.delete-btn{
	height: 40px;
	width: 0;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
  background-color: #D35400;
  border: none;
	color: white;
	transition: 0.2s linear;
	opacity: 0;
}

.todos-container{
  width: 100%;
  margin: 0;
  padding: 0;
}
