.App-container{
  margin: 50px auto;
  width: 300px;
  padding: 0;
  align-items: center;
}

.header-container{
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 10px 5px;
  border: 2px solid #1C2833;
  background-color:	#1C2833;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #D35400;
  text-align: center;
}
